/*
Css du carousel de la page équipe
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-personnes {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.personne {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel-image {
    width: 100%;
    z-index: 1;
}

.carousel-text {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
}

.carousel-button{
    padding: 15px;
    margin: 15px;
}



@media screen and (max-width: 736px) {
    .carousel{
        max-width: 500px;
    }
    .carousel-button {
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .bloc-button{
        display: flex;
        flex-direction: row;
    }

    .carousel-button-left{
        flex: 1;
    }

    .carousel-button-right{
        flex: 1;
    }

    .carousel-button-left {
        left: 0;
    }
    
    .carousel-button-right {
        right: 0;
    }
}

@media screen and (min-width: 737px){
    .carousel{
        max-width: 800px;
    }
    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1;
    }
    
    .carousel-button-left {
        left: 5%;
    }
    
    .carousel-button-right {
        right: 5%;
    }
}