.carrousel {
    position: relative;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
    width: 100%;
}

.carrousel-inner {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;

}

.item-carrousel {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semaine {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
}

.semaine>h5 {
    color: white;
}

.Jour {
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.5);
    background-color: darkgray;

}

.Jour>h6 {
    color: white;

}

.center{
    align-items: center;
}

.row {
    justify-content: space-evenly;

}

.listeMenu * {
    text-transform: none;
}

.carousel-button {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 20px;
}

#banner {
    border-top: 0;
    padding: 5em 0;
}

.bubule {
    text-align: center;
    padding: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-dot {
    background-color: #717171;
}

@media screen and (max-width: 736px) {
    .Jour {
        text-align: center;
    }
}

/* For screens with a minimum width of 737px */
@media screen and (min-width: 737px) {
    .Jour {
        text-align: start;
    }
}